@{
    ViewBag.Title = "Página Inicial";
}
@model Sampe.Usuario

<div class="container center">
    <div class="col s12 m8 l9">
        <br />
        <h1>Bem vindo(a),   @Html.DisplayFor(model => model.NomeUsuario) @Html.DisplayFor(model => model.SobrenomeUsuario) </h1>        
        <hr />
    </div>
    
</div>