@model IEnumerable<Sampe.Maquina>

@{
    ViewBag.Title = "Máquina";
}

<div class="container ">
    <div class="col s12 m8 l9">
        <br />
        <h2>Máquinas</h2>
        <div class="divider"></div>

        <table class="table">
            <tr>
                <th>
                    Máquina
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeMaquina)
                    </td>
                    <td>



                        @Html.ActionLink("Editar", "Edit", new { id = item.MaquinaId }) |
                        <!--   @Html.ActionLink("Details", "Details", new { id = item.MaquinaId }) |-->
                        @Html.ActionLink("Deletar", "Delete", new { id = item.MaquinaId })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="row center-align">
        <a class="btn " href="/Maquinas/Create">Nova Máquina</a>
    </div>
</div>