@{
    ViewBag.Title = "Página Inicial";
}
<head>
    <!--custom-->
    <link href="~/Content/materialize/css/custom_index.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="container center">
    <div class="row">
        <div class=" col s12 m4 l4 ">
            <div class="card ">
                <div class="card-image center">
                    <img class=" responsive-img" id="icon" src="~/img/manutencao.png">
                </div>
                <div class="card-content">
                    <span class="card-title  grey-text text-darken-4">Manutenção</span>
                    <p funcaoLink(this)" onmouseout="funcaoNormal(this)"><a onmouseover="funcaoLink(this)" onmouseout="funcaoNormal(this)" href="troca_molde.cshtml">Troca de Molde</a></p>
                    <p><a onmouseover="funcaoLink(this)" onmouseout="funcaoNormal(this)" href="ordem_servico.cshtml">Ordem de Serviço</a></p>
                    <p><a href="editar_moldes.cshtml">Editar Moldes</a></p>
                    <p><a href="">Cadastrar Máquinas</a></p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card ">
                <div class="card-image center">
                    <img class="responsive-img center" src="~/img/producao.png">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Produção</span>
                    <p><a onmouseover="funcaoLink(this)" onmouseout="funcaoNormal(this)" href="">Ordens de Produção</a></p>
                    <p><a href="#">Ficha de Refugo</a></p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card ">
                <div class="card-image center">
                    <img class="responsive-img" src="~/img/expedicao.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><a id="cardTitle" href="#">Expedição</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card ">
                <div class="card-image center">
                    <img class="responsive-img" src="~/img/consultar.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><a id="cardTitle" href="#">Consultar Formulários</a></span>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card ">
                <div class="card-image center">
                    <img class="responsive-img" src="~/img/relatorios.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><a id="cardTitle" href="#">Relatório</a></span>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card ">
                <div class="card-image center">
                    <img class="responsive-img" src="~/img/perfis.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><a id="cardTitle" href="editar_perfis.cshtml"> Pessoas </a></span>
                </div>
            </div>
        </div>
    </div>
</div>
