@model Sampe.Molde

@{
    ViewBag.Title = "Deletar Molde";
}
<div class="container ">
    <div class="col s12 m8 l9">

        <h2>Deletar Molde</h2>
        <h6>Tem certeza que deseja excluir?</h6>

        <div class="row">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Molde
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeMolde)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cavidade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cavidade)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Deletar" class="btn btn-default" />
                    <a class="btn " href="/Moldes/Index">Voltar</a>
                </div>
            }
        </div>
    </div>
</div>
