<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
  
    <title>@ViewBag.Title - Marcanti</title>
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/js/materialize.min.js"></script>
    <script src="~/Scripts/materialize/js/programa.js"></script>

    <!--custom-->
    <link href="~/Content/materialize/css/custom.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Fonte-->
    <link href="https://fonts.googleapis.com/css?family=Abel|Martel+Sans|Quicksand:700|Tenor+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--logo na guia -->
    <link rel="shortcut icon" href="~/img/logo.png">

</head>

<body>
    

    <div class="container">
        @RenderBody()
        <!--<hr />-->
    </div>

  
        <!-- rodapé -->
        <div class="row">
            <footer class="page-footer ">
                <div class="footer-copyright ">
                    <div class=" container center">
                        SAMPE - Sistema de Apoio à Manutenção, Produção e Expedição <!--| Design by XNT-->
                    </div>
                </div>
            </footer>
        </div>

        <script src="~/Scripts/jquery-2.1.1.min.js"></script>

</body>

</html>